In [5]:
import os
import pandas as pd

In [11]:
#Get current and parent directory directory
current_path = os.getcwd()
parent_directory = os.path.dirname(current_path)

#Create a path to the source folder where the raw data is located
source_path = os.path.join(parent_directory, 'data', 'raw', 'data_per_day.xlsx')

#Create a path to the destination file
destination_path =os.path.join(parent_directory, 'data', 'processed')

# Get all .xlsx files in the source directory
#file = glob.glob(os.path.join(source_path, "*.xlsx"))

#Read the first .xlsx file
df = pd.read_excel(source_path, index_col=None)

In [12]:
display(df)

,Numer osobowy,OK,Obszar kadrowy,Podobsz.,Podobszar kadrowy,Podgrupa pracowników,Stanowisko,Etat,Płeć,Tytuł,Grupa pracowników,Obywatelstwo
0,Person 1,1000,Rektor,1821,Biuro Kom i Pro,Administracyjno-ekon,ekspert ds. komunikacji IDUB POPULA,1.0,Mężczyzna,magister,NNA,polskie
1,Person 2,1000,Rektor,1874,Zesp Audytu Wew,Administracyjno-ekon,audytor wewnętrzny,1.0,Mężczyzna,magister,NNA,polskie
2,Person 3,1000,Rektor,1802,Dział An Strate,Naukowo-badawczy,specjalista,1.0,Kobieta,magister,NNA,polskie
3,Person 4,1000,Rektor,1889,Dz.Bezp.Inf.PW.,Administracyjno-ekon,kierownik działu,1.0,Mężczyzna,mgr inżynier,NNA,polskie
4,Person 5,1000,Rektor,1802,Dział An Strate,Administracyjno-ekon,specjalista ds. administracyjnych,1.0,Kobieta,magister,NNA,polskie
...,...,...,...,...,...,...,...,...,...,...,...,...
5094,Person 5095,8345,ZKR,8S45,Grupa Rob Sanit,Robotnicy,robotnik wysoko wyk. -ślusarz,1.0,Mężczyzna,NaN,NNA,polskie
5095,Person 5096,8345,ZKR,8B45,Grup Rob Ogólno,Robotnicy,robotnik wysoko wyk. -ślusarz,1.0,Mężczyzna,NaN,NNA,polskie
5096,Person 5097,8345,ZKR,8S45,Grupa Rob Sanit,Robotnicy,robotnik wys. wykw. - monter inst. sanit,1.0,Mężczyzna,NaN,NNA,polskie
5097,Person 5098,8345,ZKR,8F45,Sekc Finansowa,Administracyjno-ekon,samodzielny księgowy,1.0,Kobieta,NaN,NNA,polskie
5098,Person 5099,8345,ZKR,8E45,Grupa Rob Elekt,Robotnicy,robotnik wysoko wyk. -elektromonter,1.0,Mężczyzna,NaN,NNA,polskie